{require_otp_vsn, "R16B03"}.
{cover_enabled, true}.

{deps, [
        {gun, ".*", {git, "https://github.com/extend/gun.git", "5f2ddb084b12998162f002ca159b9badd2b84e67"}},
        {ranch, ".*", {git, "https://github.com/extend/ranch.git", {tag, "0.9.0"}}},
        {lager, ".*", {git, "https://github.com/basho/lager.git", {tag, "2.0.3"}}},
        {jiffy, ".*", {git, "https://github.com/davisp/jiffy.git", {tag, "0.8.5"}}}
       ]}.

{erl_opts, [fail_on_warning,
            warn_export_all,
            warn_unused_import,
            warn_untyped_record,
            debug_info]}.

{eunit_opts, [verbose,
              {report, {eunit_surefire, [{dir, "."}]}}
             ]}.
